doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="js/graph.js")
    title Graph
  body
    block content
